<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.searcher.p_searcher.mappers.PaperMapper">
    <update id="insert">
        INSERT INTO
            Paper
            (name, author, content, path)
        VALUES(#{name}, #{author}, #{content}, #{path})
            ON conflict(name, author)
       DO UPDATE SET content = #{content}
    </update>
</mapper>