<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.searcher.p_searcher.mappers.TagMapper">

    <resultMap id="tagResult" type="com.searcher.p_searcher.entities.PaperTag">
        <result column="percent" property="percent" jdbcType="INTEGER"/>
        <association property="tag" javaType="com.searcher.p_searcher.entities.Tag">
            <result column="id" property="id" jdbcType="INTEGER"/>
            <result column="name" property="name" jdbcType="VARCHAR" />
        </association>
    </resultMap>

    <update id="insert">
        INSERT INTO
            tag (name)
        VALUES(#{name})
    </update>

    <select id="queryTags" parameterType="Integer" resultMap="tagResult">
        SELECT tag.id, name, percent
        FROM tag
        INNER JOIN paper_tag
        ON paper_tag.tag_id = tag.id
        WHERE paper_tag.paper_id = #{id}
    </select>
</mapper>